<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Toolxi - Design tools</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="styles/styles.css" type="text/css" />
        <link href="images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    </head>
<body>
<div id="app">

    <header class="app-header">
        <section class="app-header-content">
            <div class="logo">
                <h1 class="logo-text">Toolxi</h1>
            </div>
            <div class="filters">
                <span class="cards-lenght" v-cloak>
                    <span v-if="filterTools.length === 1">{{ filterTools.length }} tool</span>
                    <span v-else>{{ filterTools.length }} tools</span>
                </span>
                <input class="search-input" v-model="search" type="text" placeholder="Filter tools" autocapitalize="none" />     
            </div>
        </section>
    </header>

    <main id="tools">
        <div class="cards">
            <div class="card" v-for="tool in filterTools">            
                <div class="card-content" onclick="this.classList.toggle('flip');">
                    <figure class="front">
                        <div class="tool-icon"></div>
                        <h2 v-cloak>{{ tool.name }}</h2> 
                        <h4 v-cloak v-if="tool.type">Type: {{ tool.type }}</h4>                       
                    </figure> 
                    <figure class="back">
                        <div class="tool-icon"></div>
                        <h2>{{ tool.name }}</h2>
                        <p>{{ tool.summary }}</p>
                    </figure>       
                </div>
            </div>
        </div>
    </main>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
<script src="scripts/app.js"></script>

</body>
</html>
