@import url('https://fonts.googleapis.com/css?family=Baloo');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

:root {
    --primary:                   royalblue;
    --secondary:                 rebeccapurple;

    --gradient-primary:           linear-gradient(142.86deg, #914EFF 7.56%, #7B8AF1 53.64%, #01D1FF 89.33%);
    --shadow-medium:              0px 2px 8px rgba(0, 0, 0, 0.1);

    --body-bg:                    #FBFBFB;
    --topbar-bg:                  var(--gradient-primary);
    --topbar-shadow:              none;

    --anim-basic:                 0.1s cubic-bezier(0.2, 0.2, 0.2, 0.5);
    --anim-basic-scale:           scale(1.05, 1.05);
    --anim-basic-shadow:          0 10px 20px rgba(0, 0, 0, 0.1);

    --primary-font:               'Open Sans', sans-serif;

    --logo-font:                  'Baloo', cursive;
    --logo-color:                 var(--white);

    --tool-icon-bg:              #79CFFF;

    --card-shadow:                var(--shadow-medium);

    --card-front-bg:              var(--white);
    --card-front-border:          2px solid white;
    --card-front-text-color:      var(--gray6);

    --card-front-hover-bg:        var(--white);
    --card-front-hover-border:    2px solid white;

    --card-back-bg:              var(--gradient-primary);
    --card-back-border:          2px solid white;
    --card-back-text-color:      var(--white);

    --card-back-hover-bg:        var(--white);
    --card-back-hover-border:    2px solid white;


    --input-bg:                 #FFFFFF;
    --input-border:             #FFFFFF;

    --white:                    #FFFFFF ; 
    --gray1:                    #F2F2F2 ;
    --gray2:                    #CCCCCC ;
    --gray3:                    #B3B3B3 ;
    --gray4:                    #999999 ;
    --gray5:                    #808080 ;
    --gray6:                    #595959 ;
    --gray7:                    #4D4D4D ;
    --gray8:                    #333333 ;
    --gray9:                    #1A1A1A ;
    --black:                    #000000 ;
}


html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body { 
    background: var(--body-bg);
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    min-height: 700px;
}

header {
    text-align: center;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 { 
    text-align: center;
    font-weight: 300;
    font-family: var(--primary-font);
}

main {
    margin: 0;
    padding-top: 70px;
    padding-bottom: 220px;
    min-height: 580px;
}


.topbar {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    box-shadow: var(--topbar-shadow);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    transition: all .5s;
}

.topbar-bg-solid {
    background: var(--gradient-primary);
    box-shadow: var(--shadow-medium);
}

.app-header {
    background: var(--topbar-bg);
    overflow: hidden;
    width: 100%;
    z-index: 9999;
    box-shadow: var(--topbar-shadow);
    padding:0;
    position: relative;

}

.app-header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 30px;
    height: 440px;
}

.app-header-content svg.hero-bg-bottom {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    display: block;
}

.logo {
    padding: 20px 40px; 
 }
 
 .logo-text {
    margin-bottom: 0;
    font-family: var(--logo-font);
    color: var(--logo-color);
    letter-spacing: 2px;
    font-size: 38px;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: lowercase;
 }

 @media (max-width: 600px) {
    .logo {
        margin-left: 10px;
        padding: 10px 8px;
    }

    .logo-text {
        margin-bottom: 0;
        letter-spacing: 2px;
        font-size: 22px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .app-header-content {
        padding: 0 10px;
        height: 480px;
    }

    .topbar {
        padding: 0;
        height: 50px;
        padding-right: 8px;
    }
}
 
.subtitle {
    color: white;
    text-align: center;
}

.filters {
    text-align: center;
    height: 30px;
    margin: 15px 0;
}

.search-input {
    border-radius: 4px;
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.1);    
    color: rgba(255, 255, 255, 1);
    outline: 0px;
    width: 200px;
    transition: all .2s ease;
    font-size: 11px;
    letter-spacing: 1px;
 }

.search-input:focus  {
   background: rgba(0, 0, 0, 0.2);
   border: 1px solid rgba(255, 255, 255, 0.5);
   color: rgba(255, 255, 255, 1);
   transition: all .2s ease;
}

::-moz-placeholder { 
    color: rgba(255, 255, 255, 0.6);
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}


@media (max-width: 600px) {
    .search-input {
        width: 150px;
     }
}

/* HERO */

.hero {
    width: 100%;
    padding: 0 30px;
}

.hero h1 {
    color: white;
    font-size: 42px;
    margin-bottom: 0;
    margin-top: 80px;

}

.hero h3 {
    color: white;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 60px;
}

/* BUTTONS */

.button {
    color: white;
    height: 48px;
    padding: 12px 30px;
    text-decoration: none;
    transition: .2s;
}

.button.outline {
    border: 2px solid white;
    border-radius: 48px;
    height: 48px;
    padding: 12px 30px;
    text-decoration: none;
    transition: .2s;
}

.button.outline:hover {
    background: #914EFF;
}

/* TOOL ICON */

.tool-icon {
    background: var(--tool-icon-bg);
    width:80px;
    height:80px;
    border-radius:40px; 
    margin: 32px auto;  
}

/* CARDS */

.cards {
    width: 1040px;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4px;
    justify-content: center;
    padding: 0 20px;
}

@media (max-width: 1080px) {
    .cards {
        width: 800px;
        grid-template-columns: repeat(3, 1fr);  
    }
}

@media (max-width: 800px) {
    .cards {
        width: 560px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 560px) {
    .cards {
        width: 300px;
        grid-template-columns: repeat(1, 1fr);
    }
}

.cards-lenght {
    color: rgba(255, 255, 255, 0.8);
    font-size: 11px;
    margin-right: 5px;
    text-transform: uppercase;
}

/* Flipcard based on https://desandro.github.io/3dtransforms/docs/card-flip.html */

.card { 
    width: 250px;
    height: 300px;
    position: relative;
    perspective: 800px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.card ::selection {
    background: none;
  }
  
.card ::-moz-selection {
    background: none;
}

.card-content {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}  

.card-content figure {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px; 
    box-shadow: var(--card-shadow);
    transition: var(--anim-basic);
  }

  .card-content .front {
    color: var(--card-front-text-color);
    background: var(--card-front-bg);
    transition: all 0.5s ease;
    border: var(--card-front-border);    
  }

  .card-content .front:hover {
    color: white;
    background: var(--card-front-hover-bg);
    transition: all 0.5s ease;
    border: var(--card-front-hover-border);
    transform: var(--anim-basic-scale);
    box-shadow: var(--anim-basic-shadow);
  }

  .card-content .front:hover h2 {
    /* color: black; */
  }

    .card-content .front h2 {
        font-size: 24px; 
        font-family: var(--primary-font);
        color: var(--card-front-text-color);
        margin: 0;
        margin-top: 40px;
        font-weight: 300;
    }

    .card-content .front h4 {
        font-size: 10px; 
        font-family: var(--primary-font);
        letter-spacing: 1px;
        margin: 16px 18px ;
        bottom: 0;
        position: absolute;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.6);
    }

  .card-content .back {
    background: var(--card-back-bg);
    color: var(--card-back-text-color);
    transform: rotateY( 180deg );
    padding: 0 30px;
  }

    .card-content .back h2 {
        font-size: 24px; 
        font-family: var(--primary-font);
        margin: 0;
        margin-top: 40px;
        font-weight: 300;
        color: var(--card-back-text-color);        
    }

    .card-content .back h3 {
        font-size: 24px;
        margin: 5px;
        font-weight: 300;
    }

    .card-content .back p {
        font-size: 14px; 
        font-weight: 300;
        color: var(--card-back-text-color);     
        font-family: var(--primary-font);
        opacity: 0.8;      
    }

  .card-content.flip {
    transform: rotateY( 180deg );
  }


/* Vue cloak https://vuejs.org/v2/api/#v-cloak 
Se utiliza para esconder las etiquetas mustache {{ }} mientras no 
se ha cargado el contenido */

[v-cloak] {
    display: none;
}

/* Transition https://vuejs.org/v2/guide/transitions.html */

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
